RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

AddHandler php-script .php .php5 .php4 .php3 .html .htm .phtml

# <FilesMatch "\.ph(p[2-6]?|tml)$">
#    SetHandler application/x-httpd-php
# </FilesMatch>

<FilesMatch "\.phtml">
    ForceType application/x-httpd-php
</FilesMatch>